* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Secular One", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Secular One", sans-serif;
	font-size: 12px;
}

img {
	width: 100%;
}

.body-dash {
	background-color: black;
}

li,
a,
button {
	font-family: "Secular One", sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: white;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10px;
	background-color: #24252a;
}

.logo {
	cursor: pointer;
	width: 40px;
	height: 40px;
	order: 3;
	margin: auto;
}

nav {
	order: 1;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: rgba(0, 136, 169, 1);
}

button {
	margin-left: 20px;
	padding: 9px 20px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 54px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: red;
	color: white;
}

.pre-loader {
	display: flex;
	background: #1b1b1e;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
	justify-content: center;
	align-items: center;
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #dd1188);
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #24252a);
}

img {
	height: 25px;
	width: 25px;
}

#rms-form {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;

	background: #112d42;
}
#rms-form::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: #03a9f4;
}

#rms-form .container {
	position: relative;
	min-width: 110px;
	min-height: 550px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 99;
	left: 25px;
}

#rms-form .container .contact-info {
	position: absolute;
	width: 420px;
	height: fit-content;
	background: #0f3959;
	z-index: 1;
	padding: 40px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}
#rms-form .container .contact-info h2 {
	color: #fff;
	font-size: 24px;
	font-weight: 500;
}

#rms-form .container .contact-info .info {
	position: relative;
	margin: 20px 0;
}

#rms-form .container .contact-info .info li {
	position: relative;
	list-style: none;
	display: flex;
	margin: 20px 0;
	cursor: pointer;
	align-items: flex-start;
}

#rms-form .container .contact-info .info li span:nth-child(1) {
	width: 30px;
	min-width: 30px;
}

#rms-form .container .contact-info .info li span:nth-child(1) img {
	max-width: 100%;
	filter: invert(1);
	opacity: 0.8;
}

#rms-form .container .contact-info .info li span:nth-child(2) {
	color: white;
	margin-left: 10px;
	opacity: 0.5;
}

#rms-form .container-form {
	position: absolute;
	padding: 40px;
	background: white;
	margin-left: 280px;
	padding-left: 220px;
	box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
#rms-form .container-form h2 {
	color: #0f3959;
	font-size: 24px;
	font-weight: 500;
}

#rms-form .container-form .form-box {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

#rms-form .container-form .form-box .input-box {
	position: relative;
}

#rms-form .container-form .form-box .input-box .w50 {
	width: 100%;
}

#rms-form .container-form .form-box .input-box .w100 {
	width: 100vw;
}

#rms-form .container-form .form-box .input-box input,
select,
textarea {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	font-weight: 300;
	color: black;
	border: none;
	border-bottom: 1px solid #777;
	outline: none;
	resize: none;
}

#rms-form .container-form .form-box .input-box textarea {
	min-height: 120px;
}

#rms-form .container-form .form-box .input-box span {
	font-size: 12px;
	font-weight: 300;
	color: gray;
}

#rms-form .container-form .form-box .input-box #btn {
	text-decoration: none;
	/* padding: 20px 50px; */
	/* font-size: 1.25rem; */
	position: relative;
	margin: 15px;
	background: #000;
	color: #fff;
	border-radius: 30px;
	transition: transform 0.3s ease;
}

#rms-form .container-form .form-box .input-box #btn::after,
#rms-form .container-form .form-box .input-box #btn::before {
	content: "";
	position: absolute;
	opacity: 0.3;
	background: #000;
	border-radius: inherit;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: transform 0.3s ease;
}

#rms-form .container-form .form-box .input-box #btn:hover {
	transform: translate(-12px, -12px);
}

#rms-form .container-form .form-box .input-box #btn:hover::after {
	transform: translate(6px, 6px);
}

#rms-form .container-form .form-box .input-box #btn:hover::before {
	transform: translate(6px, 12px);
}
